#legend{
    -fx-vgap: 25px;
    -fx-hgap: 25px;
    -fx-label-padding: 0;
}
#legend .hbox{
    -fx-spacing: 5px;
}
#legend .hbox .sectorname{
    -fx-font-size: 23px;
    -fx-font-style: bold;
}
#legend .hbox .sectorprice{
    -fx-font-size: 15px;
}

.rowNumber,.colNumber{
    -fx-label-padding: 0;
}