/* dark menu bar */

.menu-bar {
    -fx-background-color: #3c3f41;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-font-size: 13px;
}

.context-menu {
    -fx-font-size: 13px;
}

.menu-bar .context-menu {
    -fx-background-color: #3c3f41;
}

.menu-bar .label {
    -fx-text-fill: #BDBDBD;
}

.menu-bar .menu-button:hover,
.menu-bar .menu-button:showing {
    -fx-background-color: #2f65ca;
}

.menu-bar .menu-item:hover,
.menu-bar .menu-item:showing,
.menu-bar .menu-item:active {
    -fx-background-color: #2f65ca;
}

/* glass pane */

.glass > .background {
    -fx-background-color: derive(#3c3f41, 25%);
}

.glass > * * > .button {
    -fx-background-color: white;
}

/* buttons */

.button {
    -fx-background-radius: 3;
}

.button:default {
    -fx-background-radius: 3 10;
}

.tab-button {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
}

/* bar */

.progress-bar {
    -fx-indeterminate-bar-length: 500;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 1.5;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-accent, -70%), derive(-fx-accent, 0%), derive(-fx-accent, -30%), derive(-fx-accent, -90%));
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 0.2em;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}

.progress-bar > .track {
    -fx-background-color: #3c3f41;
    -fx-background-insets: 0, 0 0 0 0, 0 0 0 0;
    -fx-background-radius: 0;
}

/* tabs */

#spMainContent >.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: derive(#3c3f41, 25%);
}

#spMainContent > .tab-pane .tab {
    -fx-background-color: derive(#3c3f41, 25%);
    -fx-min-height: 50px;
    -fx-min-width: 50px;
}

#spMainContent > .tab-pane .tab:selected {
    -fx-background-color: #3c3f41;
}

#spMainContent > .tab-pane {
    -fx-tab-min-height: 50px;
    -fx-tab-min-width: 50px;
}

.tab, .tab-pane, .tab-header-background, .tab-pane *.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.lvHeading {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.AnchorHeading {
   -fx-background-radius: 3px;
   -fx-background-color: #e6e6e6;
   -fx-border-style: solid;
   -fx-border-color: #b9b9b9;
   -fx-border-width: 1 0 1 0;
}

.Heading {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.SubHeading {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.BigButton {
    -fx-padding: 5px 20px 5px 20px;
    -fx-font-size: 17px;
    -fx-text-alignment: center;
    -fx-background-radius: 5px;
}

.NormalButton {
    -fx-padding: 3px 10px 3px 10px;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-background-radius: 3px;
}

.DarkButton {
    -fx-background-color: #3f3f3f;
    -fx-text-fill: #fdfdfd;
}

.DarkButton:default {
    -fx-background-color: #2f343f;
}

.DarkButton:hover {
    -fx-background-color: #0096c9;
    -fx-text-fill: #ffffff;
}


.LightButton {
    -fx-background-color: #fdfdfd;
    -fx-text-fill: #3f3f3f;
}

.LightButton:default {
    -fx-background-color: #e0dcf9;
}

.LightButton:hover {
    -fx-background-color: #0096c9;
    -fx-text-fill: #ffffff;
}

.brightContextMenu {
    -fx-background-color: #e3ecf2;
    -fx-text-fill: #171717;
    -fx-background-radius: 5 10;
}

.brightContextMenu .menu-item {
    -fx-background-radius: 5 10;
}

.brightContextMenu .menu-item:hover,
.brightContextMenu .menu-item:showing {
    -fx-background-color: #0096c9;
    -fx-text-fill: #ffffff;
}

.textfieldDescription {
    -fx-font-size: 15px;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #0096c9;
    -fx-text-fill: #ffffff;
}