.newsTitle {
    -fx-font-family: Segoe UI;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.newsPublishDate {
    -fx-font-family: Segoe UI;
    -fx-font-size: 14px;
    -fx-font-style: italic;
}

.newsText {
    -fx-font-family: Segoe UI;
    -fx-font-size: 14px;
}