.performanceElement .label {
    -fx-font-size: 18px;
}

.list-cell {
    -fx-background-color: #f9f9f9;
}

.list-cell:filled {
    -fx-border-style: solid;
    -fx-border-color: #b9b9b9;
    -fx-border-width: 1 0 1 0;
}

.list-cell:filled:hover {
    -fx-background-color: #e6e6e6;
}

.list-view {
    -fx-focus-traversable: false;
    -fx-border-style: none;
    -fx-background-color: #ffffff;
}