.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: transparent;
}
.tab-pane .tab{
    -fx-background-color: #dedfdf;
    -fx-min-height: 40px;
}

.tab-pane{
    -fx-tab-min-height:40px;
    -fx-tab-min-width: 130px;
}

.tab-pane .tab:selected {
    -fx-background-color: #0096c9;
}