.customerSelectionBar{
    -fx-background-color: #3f3f3f;
    -fx-background-radius: 8;
    -fx-padding: 12;
}
.customerSelectionBar .label{
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.costOverview .list-cell{
    -fx-font-size: 16px;
}

#gpSellingSectorsUI{
    -fx-background-color: #3f3f3f;
    -fx-background-radius: 8;
    -fx-font-size: 13px;
    -fx-padding: 0px 8px 20px 15px;
    -fx-vgap: 8;
    -fx-hgap: 3;
}

#gpSellingSectorsUI:disabled{
    -fx-padding: 0;
}

#gpSellingSectorsUI .label{
    -fx-text-fill: #ffffff;
    -fx-font-style: bold;
}


#gpSellingSectorsUI .sectorlabel {

}

.costOverview #lblPriceSum{
    -fx-font-size: 20px;
    -fx-padding: 0 0 0 10;
    -fx-border-color: black, transparent, black;
    -fx-border-width: 0 0 1 0, 0 0 2 0, 0 0 1 0;
    -fx-border-insets: 0 0 0 0, 0 0 1 0, 0 0 3 0;
}